<!--서영-->
{% extends "index.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/products.css') }}">
{% endblock %}

{% block section %}

{% with mesg = get_flashed_messages() %}
{% if mesg !=[] %}
  <script>alert("{{mesg[0]}}") </script>
{% endif %}
{% endwith %}

<div class="product_container">
  <aside class="side-bar">
    <ul id="category">
      <!--url 추가-->
      <li> <a href="{{ url_for('products.view_products', page=i, category='digital')}}">DIGITAL</a></li>
      <li> <a href="{{ url_for('products.view_products', page=i, category='fashion')}}">FASHION</a></li>
      <li> <a href="{{ url_for('products.view_products', page=i, category='tableware') }}">TABLEWARE</a></li>
      <li> <a href="{{ url_for('products.view_products', page=i, category='stationary') }}">STATIONARY</a></li>
    </ul>
  </aside>

  <main>
    <section id="head">
      <p class="title">{{ current_category_name }}</p>
      <div class="array">
        <a href="{{ url_for('products.view_products', page=page, category=category, sort='review') }}">
          <button class="sort_button">리뷰 많은 순</button>
      </a>
      <a href="{{ url_for('products.view_products', page=page, category=category, sort='purchase') }}">
          <button class="sort_button">판매량순</button>
      </a>
      <a href="{{ url_for('products.view_products', page=page, category=category, sort='recent') }}">
          <button class="sort_button">최신순</button>
      </a> </div>
    </section>
  
    {% if total > 0 %}
    <p class="reg-num">{{total}}개</p>
    <table>
<!-- 첫 번째 행 -->
      <tr>
        {% for key, value in row1 %}
        <td onclick="location.href='{{ url_for('products.view_product_detail', productId=key) }}';" style="cursor:pointer;">
            <img src="{{ url_for('static', filename='images/' + value.productImage) }}" width="140" height="200">
        </td>
        {% endfor %}
        {% for i in range(3 - row1|length) %}
        <td></td>
        {% endfor %}
      </tr>
      <tr>
        {% for key, value in row1 %}
        <td>
            <div class="product-title" onclick="location.href='{{ url_for('products.view_product_detail', productId=key) }}';" style="cursor:pointer;">
                {{ value.productName }}
                <div class="marketname">{{ value.userId }}</div>
                <div class="price">{{ value.price }}원</div>
            </div>
        </td>
        {% endfor %}
        {% for i in range(3 - row1|length) %}
        <td></td>
        {% endfor %}
      </tr>

      <!-- 두 번째 행 -->
      <tr>
        {% for key, value in row2 %}
        <td onclick="location.href='{{ url_for('products.view_product_detail', productId=key) }}';" style="cursor:pointer;">
            <img src="{{ url_for('static', filename='images/' + value.productImage) }}" width="140" height="200">
        </td>
        {% endfor %}
        {% for i in range(3 - row2|length) %}
        <td></td>
        {% endfor %}
      </tr>
      <tr>
        {% for key, value in row2 %}
        <td>
            <div class="product-title" onclick="location.href='{{ url_for('products.view_product_detail', productId=key) }}';" style="cursor:pointer;">
                {{ value.productName }}
                <div class="marketname">{{ value.userId }}</div>
                <div class="price">{{ value.price }}원</div>
            </div>
        </td>
        {% endfor %}
        {% for i in range(3 - row2|length) %}
        <td></td>
        {% endfor %}
      </tr>

    </table>

    <div class="page-wrap">
      <div class="page-nation">
        <ul class="pagination">
          {% for i in range(page_count) %}
          <li>
          <a href="{{ url_for('products.view_products', page=i, sort=sort_by, category=category) }}" style="color:black;">{{ i + 1 }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    
  </main>
  <div id="pagination-container-pur" class="pagination-container-pur"></div>
  {% else %}
  <div class="none">구매한 상품이 존재하지 않습니다.</div>
  {% endif %}
</div>
<script src="{{ url_for('static', filename='js/products.js') }}"></script>
{% endblock %}