<!--서영-->
{% extends "index.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/products.css') }}">
{% endblock %}

{% block section %}

{% with mesg = get_flashed_messages() %}
{% if mesg !=[] %}
  <script>alert("{{mesg[0]}}") </script>
{% endif %}
{% endwith %}

<div class="product_container">
  <aside class="side-bar">
    <ul id="category">
      <!--url 추가-->
      <li> <a href="{{ url_for('products.view_products', page=i, category='digital')}}">디지털 악세서리</a></li>
      <li> <a href="{{ url_for('products.view_products', page=i, category='fashion')}}">패션 악세서리</a></li>
      <li> <a href="{{ url_for('products.view_products', page=i, category='tableware') }}">테이블웨어</a></li>
      <li> <a href="{{ url_for('products.view_products', page=i, category='stationary') }}">스테이셔너리</a></li>
    </ul>
  </aside>

  <main>
    <section id="head">
      <p class="title">{{ current_category_name }}</p>
      <div class="array">
        <a href="{{ url_for('products.view_products', page=page, category=category, sort='review') }}">
          <button class="sort_button">리뷰 많은 순</button>
      </a>
      <a href="{{ url_for('products.view_products', page=page, category=category, sort='purchase') }}">
          <button class="sort_button">판매량순</button>
      </a>
      <a href="{{ url_for('products.view_products', page=page, category=category, sort='recent') }}">
          <button class="sort_button">최신순</button>
      </a> </div>
  </section>
  
  {% if total > 0 %}
  <p class="reg-num">현재까지 {{total}}개 상품 등록됨</p>
    <table>
      <tr>
        {% for key, value in row1 %}
        <td onclick="location.href='{{ url_for('products.view_product_detail', productId=key) }}';" style="cursor:pointer;">
          <img src="{{ url_for('static', filename='images/' + value.productImage) }}" width=140, height=200>
        </td>
        {% endfor %}
      </tr>

      <tr>
          {% for key, value in row1 %}
          <td>
            <div class="product-title">{{ value.productName }}
              <div class="price">{{ value.price }}</div>
            </div>
            <div class="like-container">
              <button class="like-button" onclick="toggleLike(this)">
                <i class="fa fa-heart" id="heart" ></i> <!--12주차 좋아요 기능 구현-->
              </button>
            </div>
          </td>
          {% endfor %}
      </tr>

      <tr>
        {% for key, value in row2 %}
        <td onclick="location.href='{{ url_for('products.view_product_detail', productId=key) }}';" style="cursor:pointer;">
          <img src="{{ url_for('static', filename='images/' + value.productImage) }}" width=140, height=200>
        </td>
        {% endfor %}
      </tr>

      <tr>
          {% for key, value in row2 %}
          <td>
            <div class="product-title">
              {{ value.productName }}
              <div class="price">
                {{ value.price }}
              </div>
            </div>
            <div class="like-container">
              <button class="like-button" onclick="toggleLike(this)">
                <i class="fa fa-heart" id="heart" ></i> <!--12주차 좋아요 기능 구현-->
              </button>
            </div>
          </td>
          {% endfor %}
      </tr>
    </table>

    <div class="page-wrap">
      <div class="page-nation">
        <ul class="pagination">
          {% for i in range(page_count) %}
          <li>
          <a href="{{ url_for('products.view_products', page=i, category=category) }}" style="color:black;">{{ i + 1 }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    
  </main>
      <!--id 추가 (css도 추가)-->
      {% else %}
        <br><br><br><br><p id="noproductsmessage">등록된 상품이 없습니다.</p>
      {% endif %}
  
</div>
<script src="{{ url_for('static', filename='js/products.js') }}"></script>
{% endblock %}
