{% extends "index.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/reg_product.css') }}">
{% endblock %}

{%block section%} 

<main>
  <div class="form-container">
    <form action="{{ url_for('products.reg_product') }}" method= "POST" enctype="multipart/form-data">
      <div class="titleRegister">
        <p>상품 등록</p>
      </div>

      <div class=form-row>
        <label for="nickname">닉네임</label>
        <input class="inlg" type="text" id="nickname" name = "nickname" placeholder="아이디 입력">
      </div>
      
      <div class=form-row2>
        <label for="productName">상품명</label>
        <input class="inpn" type="text" id="productName" name = "productName" placeholder="상품명을 입력하세요.">
      </div>

      <div class=form-row3>
        <label for="price">가격</label>
        <input class="inpr" type="text" id="price" name= "price" placeholder="가격 입력">
      </div> 

      <div class=form-row4>
        <label for="category">카테고리</label>
          <select id="category" name = "category">
            <option value="" disabled selected>카테고리 선택</option>
            <option value="electronics">디지털 엑세서리</option>
            <option value="fashion">패션 엑세서리</option>
            <option value="table">테이블웨어</option>
            <option value="stationary">스테이셔너리 </option>
          </select>
      </div>

      <div class=form-row5>
        <label for="location">지역</label>
          <select id="location" name = "location">
            <option value="" disabled selected>지역 선택</option>
            <option value="ECC">ECC</option>
            <option value="engineering">공학관</option>
            <option value="posco">포스코관</option>
          </select>
      </div>

      <div class=form-row7>
        <label for="description">설명</label>
        <textarea id="description" name="description" placeholder="상품에 대한 설명을 입력하세요."></textarea>
      </div>

      <div class=form-row7>
        <p class="pp">이미지   </p>
        <label for="productImage">choose file</label>
        <input class="file" type="file" id="productImage" name= "productImage"/>
      </div>

      <div class="button-group">
        <button type="reset" class="cancel-button" onclock="pushResetButton()">취소</button>
        <button type="submit" class="submit-button" onclick="pushSubmitButton()">등록</button>
      </div> 
    </form> 
  </div>
</main> 

{% endblock section %}