/* 기본설정 */
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

hr {
    border: 1px solid rgb(0,70,42,0.5);
    background-color:rgb(0,70,42,0.5);
    margin: 0;
    width: 100%;
}

.button{
    border:none;
    font-size:20px;
    font-weight:bold;
    background-color:rgb(255,253,241);
}

/* 전체 레이아웃 설정 */
main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* 제목*/
.titleRanking {
    text-align: center;
    font-size: 24px;
    margin: 5px;
}

.titleRanking p {
    font-size: 24px;
    font-weight: bold;
    color: #555;
    margin: 0;
}

/* 폼 컨데이너 */
.form-container {
    width: 80%;
    max-width: 1000px;
    margin: 20px auto; /* 중앙 정렬 */
    padding: 30px 90px 30px 90px;
    border: none;
    border-radius: 10px;
    background-color: white;
 
}
.market-name{
    font-size:20px;
    font-weight:bold;
    color:rgb(255,253,241);
    text-align:left;
}

/*green rgb(0,70,42);
grey rgb(185,185,185);
yellow green rgb(188,201,36);
pear blossom rgb(255,253,241);*/

/*마켓 컨데이너 */
.market-container {
    width: 100%; 
    margin: 0 auto; 
    text-align: left; 
    padding: 20px;
    border: none;
    background: linear-gradient(124.47deg, 
    rgba(255, 255, 255, 0.2), 
    rgba(255, 255, 255, 0.0), 
    rgba(255, 255, 255, 0.2));
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}  
button{
    border:none;
    font-size:20px;
    cursor: pointer;
    font-weight:bold;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px; /*10->20*/
    font-size: 15px;
    flex-shrink: 0;
    width:25%;
    color:white;
    flex-shrink: 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: linear-gradient(124.47deg, 
          rgba(0,70,42, 0.5), 
          rgba(0,70,42, 0.4), 
          rgba(0,70,42, 0.5));
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.9);
}


.image-List {
    display: flex; /* 가로로 정렬 */
    flex-wrap: nowrap; /* 한 줄에 표시 */
    overflow: hidden; /* 넘치는 이미지는 숨기기 */
    gap: 10px; /* 이미지 간격 */
    padding: 10px;
    max-width: 630px; /* (150px * 4) + (10px * 3) */
}

.sellList-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex; /* 레이아웃 유지 */
    justify-content: flex-start; /* 왼쪽 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
    overflow: hidden; /* 넘치는 내용 숨기기 */
    border: none;
    position: relative; /* 자식의 overflow를 위해 */
}

img {
    width: 150px; /* 고정 너비 */
    height: 105px; /* 고정 높이 */
    object-fit: cover; /* 비율 유지하며 자르기 */
    border-radius: 10px; /* 모서리 둥글게 */
    cursor: pointer;
    margin-right: 10px;
    transition: transform 0.3s ease; /* 애니메이션 효과 */
}





