/* 기본설정 */
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

.product_container {
    display: flex;
    height: 100vh;
}

/* 사이드바 설정 */
a {
    color: inherit;
    text-decoration: none;
}

.side-bar {
    position: sticky;
    top: 0px;
    width: 250px;
    height: 100vh;
    margin-right: 20px;
    padding: 20;
    box-sizing: border-box;
    font-size: 20px;
}

.side-bar ul {
    list-style-type: none;
    padding: 0;
}

.side-bar li a {
    display: block;
    padding: 10px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.side-bar a:hover {
    color: green;
}
/* 사이드바 끝 */

/* 순서배열 버튼 */
main {
    flex-grow: 1;
    padding: 20px;
    overflow: auto;
    width: calc(100% - 250px);
}

.array {
    float: right;
    margin-right: 20px;
    margin-top: 80px;
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
}

.array button {
    padding: 5px 10px;
    white-space: nowrap;
    text-align: center;
}
/* 순서배열 끝 */

/* 리뷰조회 */
.title {
    float: left;
    text-align: left;
    margin-top: 35px;
    color: #000;
    font-size: 30px;
}

.reg_num{
    margin-top: 100px;
    color: #333;
}


/* 상품 리스트 테이블 */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
}

td {
    padding: 15px;
    border: 1px solid #ccc;
    flex-direction: column;
}

.layer{
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.product-item {
    display: flex; /* 이미지와 제목을 가로로 배치 */
    flex-direction: column;
    align-items: flex-start; /* 제목이 grade 바로 아래에 놓이도록 */
    gap: 10px; /* 이미지와 제목 사이에 간격 추가 */
}

.product-image img {
    width: 140px;
    height: 200px;
    object-fit: cover;
}

.product-title {
    margin-top: 10px; /* 제목은 이미지 아래에 위치하도록 간격 조정 */
    text-align: center;
    font-size: 20px;
    color: #333;
}

.price{
    font-size: 15px;
    color: red;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    margin-top: 0;
}

.grade span {
    font-size: 25px;
    color: #FFD700; /* 별 색을 yellow로 설정 */
}

.des-title {
    font-size: 25px;
}

/* 페이징 */
.page-nation li {
    list-style: none;
    display: inline-block;
}

.page-wrap {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    width: auto;
}

.page-nation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.page-nation a {
    display: inline-block;
    border: 1px solid #e6e6e6;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: #fff;
    font-size: 13px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin: 0;
}
