{% extends "index.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/reg_review.css') }}">
{% endblock %}

{%block section%} 
<main>
  <form method="POST" action="{{ url_for('reviews.reg_review', productId=productId) }}" enctype="multipart/form-data">
    <div class="form-container">
      <div class="titleReview">
        <p>리뷰 작성</p>
        <p class="discription">제품에 대한 리뷰를 작성해주세요.</p>
      </div>
  
      <div class="form-row">
        <label for="productName">상품명</label>
        <input class="inlg" type="text" id="productName" name="productName" value="{{ productName }}" readonly>
      </div>
  
      <div class="form-row2">
        <label for="title">제목</label>
        <input class="inpn" type="text" id="title" name="title" placeholder="제목을 입력하세요.">
      </div>
  
      <div class="form-row3">
        <label for="star">평점</label>
        <fieldset>
          <span class="text-bold">별점을 선택해주세요</span>
          <input type="radio" name="reviewStar" value="5" id="rate1"><label for="rate1">★</label>
          <input type="radio" name="reviewStar" value="4" id="rate2"><label for="rate2">★</label>
          <input type="radio" name="reviewStar" value="3" id="rate3"><label for="rate3">★</label>
          <input type="radio" name="reviewStar" value="2" id="rate4"><label for="rate4">★</label>
          <input type="radio" name="reviewStar" value="1" id="rate5"><label for="rate5">★</label>
        </fieldset>
      </div>
  
      <div class="form-row4">
        <label for="content">내용</label>
        <textarea class="content-area" id="content" name="content" placeholder="최소 20자 이상 작성해주세요." rows="6"></textarea>
      </div>
  
      <div class="form-row6">
        <label class="file-label" for="reviewImage">이미지</label>
        <input class="file" type="file" id="reviewImage" name="reviewImage" accept="image/*">
      </div>
  
      <div class="button-group">
        <button type="button" class="cancel-button">취소</button>
        <button type="submit" class="submit-button">등록</button>
      </div>
    </div>
  </form>
</main>

{% endblock %}