{% extends "index.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/review_detail.css') }}">
{% endblock %}

{% block section %}
<main>
    <div class="form-container">
        <div class="review2">
            <h3>사용자 리뷰 [ 평균 별점 
            {% if average_rate %}
            {{average_rate|round(1)}} / 5 ]
            {% else %}
            아직 리뷰가 없습니다.
            {% endif %}</h3>
            {% if reviews %}
            {% for review in reviews %}
            <div class="content">
                
                <!-- 별점 -->
                <span class="stars">
                    {{ "★" * review.rate|int }}{{ "☆" * (5 - review.rate|int) }}
                </span>            
    
                <!-- 제목 -->
                <h3>{{ review.title }}</h3>
                
                <div class="reviewbox">
                  <!-- 이미지 -->
                  {% if review.reviewImage %}
                  <img src="{{ url_for('static', filename='images/' + review.reviewImage) }}" alt="Review Image" width="300">
                  {% endif %}
    
                  <!-- 내용 -->
                    <div class="reviewcontent">
                        <p> {{ review.nickname }} 벗께서 {{ review.createdAt}}에 구매하신 후기입니다.</p>
                        <p> {{ review.content }} </p>
                    </div>
                </div>
    
            </div>
            {% endfor %}
            {% else %}
            <p class= noreview style="text-align: center; color: gray;">등록된 리뷰가 없습니다.</p>
            {% endif %}
        </div> <!--review2-->
    </div>
</main>

<script>
const starRating = parseInt("{{ review.rate }}");
 
 // 별점 생성 함수
function generateStars(rating) {
    const starContainer = document.getElementById("star-rating");
    starContainer.innerHTML = ""; // 기존 내용을 초기화
 
for (let i = 0; i < 5; i++) {
    const star = document.createElement("span");
    if (i < rating) {
        star.textContent = "★"; // 채워진 별
        star.style.color = "#FFD700"; // 금색
    } else {
        star.textContent = "☆"; // 빈 별
        star.style.color = "#ddd"; // 회색
    }
    star.style.fontSize = "20px";
    star.style.marginRight = "5px";
    starContainer.appendChild(star);
    }
}
 
 // 별점 적용
generateStars(starRating);
</script>
<!--<script src="{{ url_for('static', filename='/js/review_detail.js') }}"></script>-->
{% endblock %}

