<!--금채원-->
{% extends "index.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/review_detail.css') }}">
{% endblock %}

{% block section %}
<main>
    <div class="form-container">
        <div class="titleReview">
            <h3>상세 리뷰 페이지</h3>
        </div>
            
        <div class="content">
                
            <!-- 별점 -->
            <div class="rating-container">
                <div class="grade" id="star-rating"></div>
                <div class="review-rate"> ( {{ review.rate }} )</div>
            </div>          
    
            <!-- 제목 -->
            <h3>{{ review.title }}</h3>
                
            <div class="reviewbox">
                <!-- 이미지 -->
                <div class="review-image">
                    <img src="{{ url_for('static', filename='images/' + review.reviewImage) }}" width="140" height="200" alt="Review Image">
                </div>

                <!-- 내용 -->
                <div class="reviewcontent">
                    <p class="reviewDB"> {{ review.nickname }} 벗께서 {{ review.createdAt }}에 구매하신 후기입니다.</p>
                    <p> {{ review.content }} </p>
                </div>
            </div>
    
        </div>
    </div>
</main>

<script>
const starRating = parseInt("{{ review.rate }}");
 
 // 별점 생성 함수
function generateStars(rating) {
    const starContainer = document.getElementById("star-rating");
    starContainer.innerHTML = ""; // 기존 내용을 초기화
 
for (let i = 0; i < 5; i++) {
    const star = document.createElement("span");
    if (i < rating) {
        star.textContent = "★"; // 채워진 별
        star.style.color = "#FFD700"; // 금색
    } else {
        star.textContent = "☆"; // 빈 별
        star.style.color = "#ddd"; // 회색
    }
    star.style.fontSize = "20px";
    star.style.marginRight = "5px";
    starContainer.appendChild(star);
    }
}
 
 // 별점 적용
generateStars(starRating);
</script>
<!--<script src="{{ url_for('static', filename='/js/review_detail.js') }}"></script>-->
{% endblock %}

