{% extends "index.html" %}
{%block styles%}
<link rel="stylesheet" href="../static/css/detail.css">
<link rel="stylesheet" href="../static/css/style.css">
{% endblock%}

<body>
  <div class="container">

  <div class="row">
    <div class="column side">
      <p>
        <a target="_blank" href="/static/images/phone1.png">
        <img src="../static/images/phone1.png" alt="phone1">
        </a>
      </p>
    
      <p>
        <a target="_blank" href="/static/images/phone2.png">
        <img src="../static/images/phone2.png" alt="phone2">
        </a>
      </p>
      
      <p>
        <a target="_blank" href="/static/images/phone3.png">
        <img src="../static/images/phone3.png" alt="phone3">
        </a>
      </p>
    
      <p>
        <a target="_blank" href="/static/images/phone4.png">
        <img src="../static/images/phone4.png" alt="phone4">
        </a>
      </p>
    </div><!--column side-->
  
  <div class="column middle">
    <div class="main-image">
      <a target="_blank" href="/static/images/phone0.png">
        <img src="../../static/images/{{data.img_path}}" alt="phone0"> 
      </a> <!--lecture 11에서 추가된 부분 (상품세부화면 연결 경로 생성)-->
    </div>
    
    <div class="product-details">

      <h3 class="product-name">일러스트 핸드타올</h3>

      <div class="like-container">
        <button class="like-button" onclick="toggleLike(this)">
          <span class="heart-icon">♥</span>
        </button>
          <span class="like-count">(128)</span>
      </div>

      <hr>
      <h4 class="product-seller">판매자: 이화컴공</h4>
      <div class="product-description">이 글은 좌측 상품인 토마토 폰케이스에 대한 소개글을 보여주는 부분입니다. 특수 소재로 제작되어 튼튼하고, 특별히 이화인들에게 인터넷 최저가보다 저렴한 가격으로 받아볼 수 있도록 최선을 다했습니다. 유광소재이고, 충격에 강합니다.</div>
      <h3 class="product-price">21000 원</h3>

  <div class="dropdown-label">

    <div class="dropdown">
      <button class="dropbtn"> 
        <span class="dropbtn_icon">색상: Black - 사이즈: S</span>
      </button>
      <div class="dropdown-content">
        <a href="#">색상: Black - 사이즈: M</a>
        <a href="#">색상: White - 사이즈: S</a>
        <a href="#">색상: White - 사이즈: M</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn"> 
        <span class="dropbtn_icon">1개</span>
      </button>
      <div class="dropdown-content">
        <a href="#">2개</a>
        <a href="#">3개</a>
        <a href="#">4개</a>
        <a href="#">5개</a>
      </div>
    </div>

    <button class="buy" data-value="buy">바로 구매 ></button>

  </div><!--dropdown-label-->

  <div class="review">
    <div class="underline">REVIEW</div>
    <div class="star_rating">
      <span class="star on"></span>
      <span class="star on"></span>
      <span class="star on"></span>
      <span class="star on"></span>
      <span class="star"></span>
    </div>
    <div class="star_number">4(5)</div>
  </div>

  <div class="product-description2">
  <h4 class="underline">상세설명</h4>
    <p>상품 이름 : <b>{{name}}</b> / 상품 주소 : {{data.addr}} </p>
    <p>전화번호 : {{data.phone}} / 카테고리 : {{data.category}} </p>
    <p>사이즈 : heights 15 / width 10</p>
    <p>소재 : 에폭시 </p>
    <p>제작기간 : 3-10일 소요 (공휴일/주말 제외) </p>
    <p>
    For payment, the credit card is
    {% if data['card'] == "Y" %}
    accepted!

    {% endif %}
    {% if data['card'] == "N" %}
    NOT accepted!
    {% endif %}
    </p>
  </div>

  </div><!--dropdown-label-->

  </div><!--column middle-->
  </div><!--row-->
  </div><!--container-->
 
  

</div> 
<script src="../static/js/detail.js"></script>

</body>
</html>
