<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<script src="{{ url_for('static', filename='main.js') }}" defer></script>
</head>

<body>
    <nav class="navbar">
        <div class="navbar__logo">
            
            <a href="">ⓒ1886 EWHA</a>
        </div>
        <ul class="navbar__menu">
            <a href="/list">List</a>
            <a href="/review">Review</a>
            <a href="/reg_items">Register Items</a>
            <a href="/reg_reviews">Register Reviews</a>
            <a href="/login">login</a>
        </ul>
        <a href="#" class="navbar__toogleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </nav>
    <section>
        {% block section %}
            
        {% endblock section %}
     </section>
</body>
</html>