<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Bad+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block styles %}

    {% endblock %}
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    
</head>
<body>
    <div class="container">
        <div class="log">
            {% if session['userId'] %}
                <li><a href="/auth/logout"><b>{{ session['nickname'] }}님 반갑습니다!</b> logout</a></li>
            {% else %}
                <li><a href="/auth/login">로그인</a>&nbsp;<a href="/auth/signup">회원가입</a></li>
            {% endif %}
        </div>        
        <nav class="navbar">
            <div class="navbar_logo">
                <img id="main_logo" src="../static/images/logo.png">
            </div>
            <ul class="navbar_menu">
                <li><a href="/products">ALL</a></li>
                <li><a href="/market">RANKING</a></li>
                <li><a href="/products/reg_product">REGISTER</a></li>
                <li><a href="/reviews">REVIEWS</a></li>
                <li><a href="/mypage">MYPAGE</a></li>
            </ul>
            <div class="search-bar">
                <input type="text" id="search-bar" placeholder="검색어를 입력하세요.">
            </div>
        </nav>
        <section>
            {% block section %}
            {% endblock section %}
        </section>

        <div class="footer">
            <hr style="width: 100%;">
            <div class="company">©copyright 1886 EWHA</div> 
            <div></div>
            <p class="member" 구성원:></p><p class="member-name" 최수희, 금채원, 이서영, 김연우, 이미소, 정서윤></p>
            <div></div>
            <p class="class">Open SW Platform 2024</p>
            <div></div>
            <p class="class">이화여자대학교 컴퓨터공학과 Ewha Womans University CSE</p>
            <div></div>
            <p class="law">이용약관     |      개인정보처리방침     |     운영정책     |     위치기반서비스 이용약관      |     이용자보호 비전과 계획      |      청소년보호정책</p>
        </div>

    </div>
</body>

</html>
