{% extends "index.html" %}
{% block styles %}
<link rel="stylesheet" href="../static/css/list.css">
<link rel="stylesheet" href="../static/css/style.css">
{% endblock %}

<div class="container">
  <aside class="side-bar">
    <ul>
      <li>
          <a href="#"></i> 폰 악세사리</a>
          <ul>
            <li><a href="#">휴대폰 케이스</a></li>
            <li><a href="#">에어팟 케이스</a></li>
            <li><a href="#">스마트 톡</a></li>
          </ul>
      </li>
      <li>
          <a href="#"></i> 리빙&소품</a>
          <ul>
              <li><a href="#">오브제</a></li>
              <li><a href="#">홈패브릭</a></li>
              <li><a href="#">테이블웨어</a></li>
              <li><a href="#">조명</a></li>
              <li><a href="#">키링</a></li>
          </ul>
      </li>
      <li>
          <a href="#"></i> 쥬얼리</a>
          <ul>
              <li><a href="#">목걸이</a></li>
              <li><a href="#">귀걸이</a></li>
              <li><a href="#">반지</a></li>
          </ul>
      </li>
    </ul>
  </aside>
  <main>
    <section id="head">
        <p class="title">전체 상품 조회</p>
        <div class="array">
            <button class="review" data-value="review">리뷰 많은 순</button>
            <button class="rate" data-value="rate">높은 평점 순</button>
            <button class="recent" data-value="recent">최신순</button>
        </div>
    </section>
        {% if total > 0 %}
            <p>상품리스트 -- 현재까지 {{ total }}개 등록됨</p>
            <table>
              {% for row_index in range(m) %} <!-- m개의 행 -->
              <tr>
                  {% for col_index in range(n) %} <!-- n개의 열 -->
                  {% set item_index = row_index * n + col_index %} <!-- 현재 아이템의 인덱스 -->
                  {% if item_index < total %} <!-- 아이템이 존재하는 경우에만 표시 -->
                  <td onclick="location.href='/view_detail/{{ rowl[item_index].key }}/';" style="cursor:pointer;">
                      <img src="{{ url_for('static', filename='images/' + rowl[item_index].img_path) }}" alt="{{ rowl[item_index].key }}">
                      <p>{{ rowl[item_index].key }}</p>
                      <p class="price">{{ rowl[item_index].price }}</p>
                  </td>
                  {% else %}
                  <td></td> <!-- 빈 셀 -->
                  {% endif %}
                  {% endfor %}
              </tr>
              {% endfor %}
          </table>          
        {% else %}
            <p>등록된 상품이 없습니다.</p>
        {% endif %}
    </div>
  </main>

  <!-- 페이징 버튼 추가 -->
  <div class="page-wrap">
    <div class="page-nation">
      <ul>
        <li>
          {% for i in range(page_count)%}
            <a href="{{url_for('view_list', page=i)}}" color="black">{{i}}</a>
          {% endfor %}
        </li>
      </ul>
    </div>
  </div>
  {% else %}
  <p>등록된 상품이 없습니다. </p>
  {% endif %}
</div>

<script src="../static/js/list.js"></script>

{% endblock %}
