<!--김연우-->
{% extends "index.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/market.css') }}">
{% endblock %}

{% block section %}

<div class="titleRanking">
  <br>
  <p>마켓 랭킹</p> 
  <hr>
</div>
<div class="form-container">
  {% for user in top_users%}
      <div class="market-container">
          <h2>{{user.nickname}}</h2>
          <div class="like-container">
            <button class="like-button" onclick="toggleLike(this)">
              <i class="fa fa-heart" id="heart" ></i>
            </button>
          </div>
          <div class="sellList-container">
              {% if user.sellList %}
              <div class="image-List">
                  {% for product in user.sellList %}
                  <img src="{{ url_for('static', filename='images/' + item['productImage']) }}">
                  {% endfor %}
              </div>
              {% else %}
              <p>No products available.</p>
              {% endif %}
          </div>
      </div>
      <br>
    {% endfor %}
  </div>

<script src="{{ url_for('static', filename='js/market.js') }}"></script>
{% endblock %}   


