<!--김연우-->
{% extends "index.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/market.css') }}">
{% endblock %}

{% block section %}

<div class="titleRanking">
  <br>
  <p>마켓 랭킹</p> 
  <hr>
</div>

<div class="form-container">
    <div class="market-container1">
      <table>
        {% for key, value in row1 %}
          <h3 class="nickname1">{{top_user_data.nickname}}</h3>
          <div class="like-container">
            <button class="like-button" onclick="toggleLike(this)">
              <i class="fa fa-heart" id="heart" ></i>
            </button>
          </div> 
        {% endfor %}
        <tr>
          {% if value.top_user_data.sellList %}
            <div class="image-List">
                {% for item in top_user_data.sellList %}
                <img src="{{ url_for('static', filename='images/' + item['productImage']) }}" width=70, height=100>
                {% endfor %}
            </div>
            {% endif %}
        </tr>
      </table> 
    </div>
<!--
   <div class="market-container2">
    <table>
        {% for key, value in row1 %}
          <h3 class="nickname2">{{value.nickname}}</h3>
          <div class="like-container">
            <button class="like-button" onclick="toggleLike(this)">
              <i class="fa fa-heart" id="heart" ></i>
            </button>
          </div> 
        {% endfor %}
        <tr>
          {% if nickname.sel_lList %}
          <div class="image-List">
              {% for item in sellList %}
              <img src="{{ url_for('static', filename='images/' + item['productImage']) }}" width=70, height=100>
              {% endfor %}
          </div>
          {% endif %}
        </tr>
    </table> 
  </div>
   <div class="market-container3">
    <table>
        {% for key, value in row1 %}
          <h3 class="nickname3">{{value.nickname}}</h3>
          <div class="like-container">
            <button class="like-button" onclick="toggleLike(this)">
              <i class="fa fa-heart" id="heart" ></i>
            </button>
          </div> 
        {% endfor %}
        <tr>
          {% if nickname.sellList %}
          <div class="image-List">
              {% for item in nickname.sellList %}
              <img src="{{ url_for('static', filename='images/' + item['productImage']) }}" width=70, height=100>
              {% endfor %}
          </div>
          {% endif %}
        </tr>
    </table> 
  </div>-->
</div>

<script src="{{ url_for('static', filename='js/market.js') }}"></script>
{% endblock %}   


