<html>
<head>
<meta charset="UTF-8" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bad+Script&display=swap" rel="stylesheet">
<link rel="stylesheet" href="page3.css">

<style>
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
} 




</style>
</head>

<body>
    <div class="container">

        <div class="top-bar">
    
            <div class="search-bar">
                <input type="text" id="search-bar" placeholder="검색어를 입력하세요.">
            </div><!--search-bar-->
            
            
        <div class="title">
            <p class="login-signup">로그인&nbsp &nbsp &nbsp회원가입</p>
        </div><!--title-->
        
        <div class="topnav">
            <a href="#" onclick="goToPage('전체상품')">전체 상품</a> 
            <a href="#" onclick="goToPage('신상품')">신상품</a> 
            <a href="#" onclick="goToPage('리뷰 조회')">리뷰 조회</a> 
            <a href="#" onclick="goToPage('마이페이지')">마이페이지</a> 
        </div><!--topnav-->
        
            <p class="header">ⓒ1886 EWHA</p>
            
        </div><!--top-bar-->


<div class="row">
  <div class="column side">
    <p>
      <a target="_blank" href="phone1.png">
        <img src="phone1.png" alt="phone1">
      </a>
    </p>
    <p>
      <a target="_blank" href="phone2.png">
        <img src="phone2.png" alt="phone2">
      </a>
    </p>
    <p>
      <a target="_blank" href="phone3.png">
        <img src="phone3.png" alt="phone3">
      </a>
    </p>
    <p>
      <a target="_blank" href="phone4.png">
        <img src="phone4.png" alt="phone4">
      </a>
    </p>
  </div>
  
  <div class="column middle">
    <div class="main-image">
      <a target="_blank" href="phone0.png">
        <img src="phone0.png" alt="phone0">
      </a>
    </div>
    
    <div class="product-details">
      <h3 class="product-name">일러스트 핸드타올</h3>
      <div class="like-container">
        <button class="like-button" onclick="toggleLike(this)">
          <span class="heart-icon">♥</span>
        </button>
        <span class="like-count">(128)</span>
      </div>
      <hr>
      <h4 class="product-seller">판매자: 이화컴공</h4>
      <div class="product-description">이 글은 좌측 상품인 토마토 폰케이스에 대한 소개글을 보여주는 부분입니다. 특수 소재로 제작되어 튼튼하고, 특별히 이화인들에게 인터넷 최저가보다 저렴한 가격으로 받아볼 수 있도록 최선을 다했습니다. 유광소재이고, 충격에 강합니다.</div>
      <h3 class="product-price">21000 원</h3>
      <div class="dropdown-label">

<div class="dropdown">
      <button class="dropbtn"> 
        <span class="dropbtn_icon">색상: Black - 사이즈: S</span>
      </button>
      <div class="dropdown-content">
        <a href="#">색상: Black - 사이즈: M</a>
        <a href="#">색상: White - 사이즈: S</a>
        <a href="#">색상: White - 사이즈: M</a>
      </div>
    </div>


<div class="dropdown">
      <button class="dropbtn"> 
        <span class="dropbtn_icon">1개</span>
      </button>
      <div class="dropdown-content">
        <a href="#">2개</a>
        <a href="#">3개</a>
        <a href="#">4개</a>
        <a href="#">5개</a>
      </div>
    </div>

<button class="buy" data-value="buy">바로 구매 ></button>

      </div>
<div class="review">
    <div class="underline">REVIEW</div>
    <div class="star_rating">
      <span class="star on"></span>
      <span class="star on"></span>
      <span class="star on"></span>
      <span class="star on"></span>
      <span class="star"></span>
    </div>
    <div class="star_number">4(5)</div>
  </div>
      <div class="product-description2">
     <h4 class="underline">상세설명</h4>
	<p>사이즈 : heights 15 / width 10</p>
	<p>소재 : 에폭시 </p>
	<p>제작기간 : 3-10일 소요 (공휴일/주말 제외) </p>
  </div>

    </div>

  </div>

</div>



</div>
 
  

</div> 
<script>
HTML CSS JSResult Skip Results Iframe
EDIT ON
window.onload=()=>{
      document.querySelector('.dropbtn_click').onclick = ()=>{
        dropdown();
      }
      document.getElementsByClassName('fastfood').onclick = ()=>{
        showMenu(value);
      };
      dropdown = () => {
        var v = document.querySelector('.dropdown-content');
        var dropbtn = document.querySelector('.dropbtn')
        v.classList.toggle('show');
        dropbtn.style.borderColor = 'rgb(94, 94, 94)';
      }

      showMenu=(value)=>{
        var dropbtn_icon = document.querySelector('.dropbtn_icon');
        var dropbtn_content = document.querySelector('.dropbtn_content');
        var dropbtn_click = document.querySelector('.dropbtn_click');
        var dropbtn = document.querySelector('.dropbtn');

        dropbtn_icon.innerText = '';
        dropbtn_content.innerText = value;
        dropbtn_content.style.color = '#252525';
        dropbtn.style.borderColor = '#3992a8';
      }
    }
    window.onclick= (e)=>{
      if(!e.target.matches('.dropbtn_click')){
        var dropdowns = document.getElementsByClassName("dropdown-content");

        var dropbtn_icon = document.querySelector('.dropbtn_icon');
        var dropbtn_content = document.querySelector('.dropbtn_content');
        var dropbtn_click = document.querySelector('.dropbtn_click');
        var dropbtn = document.querySelector('.dropbtn');

        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }

function toggleLike(button) {
      const heartIcon = button.querySelector('.heart-icon');
      const likeCount = button.parentElement.querySelector('.like-count');
      let count = parseInt(likeCount.textContent);
      
      if (heartIcon.classList.contains('active')) {
        heartIcon.classList.remove('active');
        count--;
      } else {
        heartIcon.classList.add('active');
        count++;
      }
      
      likeCount.textContent = count;
    }
</script>

</body>
</html>
