<!--chaewon-->

{% extends "index.html" %}

{%block styles%}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/detail.css') }}">
{% endblock%}

{%block section%}

<body>
  <div class="container">
  <div class="row">  
    <div class="main-image">
      <img src="{{ url_for('static', filename='images/' + data.productImage) }}">
       <!--lecture 11에서 추가된 부분 (상품세부화면 연결 경로 생성)-->
    </div>

  <div class="column middle">
    <div class="product-details">

    <h3 class="product-name" name="productName">{{data.productName}}</h3>

    <div class="like-container">
    <!-- <button class="like-button" onclick="toggleLike(this)">-->
      <!--<i class="fa fa-heart" id="heart" ></i>--> <!--12주차 좋아요 기능 구현-->
      <!--<span class="heart-icon">♥</span>-->
    <!--</button>-->

    <i class="fa fa-heart" id="heart"></i>
   
    <span class="like-count">(128)</span>
    </div>

      <hr>
      <div class="product-description">
        <h4 class="underline">상세설명</h4>
        <p>상품 이름 : <b>{{data.productName}}</b>
        <p>상품 위치 : {{data.location}} </p>
        <p>카테고리 : {{data.category}} </p>
        <p>설명 : {{data.description}} </p>
      </div>
      <h3 class="product-price">가격 : {{data.price}}</h3>
    </div> 

  <div class="button">
    <div class="dropdown">
      <button class="dropbtn"> 
        <span class="dropbtn_icon">1개</span>
      </button>
      <div class="dropdown-content">
        <a href="#">2개</a>
        <a href="#">3개</a>
        <a href="#">4개</a>
        <a href="#">5개</a>
      </div>
    </div>
    <button class="buy" data-value="buy">바로 구매</button>
    <button onclick="location.href='/reg_review/{{data.productName}}';">리뷰등록</button> <!--week12-->
  </div><!--dropdown-label-->

  <div class="review">
    <div class="underline">REVIEW</div>
    <div class="star_rating">
      <span class="star on"></span>
      <span class="star on"></span>
      <span class="star on"></span>
      <span class="star on"></span>
      <span class="star"></span>
      <div class="star_number">4(5)</div>
    </div>
  </div>  

  </div><!--column middle-->
  </div><!--row-->
  </div><!--container-->
 
</body>

<script>
  const productName = "{{ data.productName }}";
  function showHeart() {
    $.ajax({
      type: 'GET',
      url: '/show_heart/{{ data.productName }}/',
      data: {},
      success: function (response) {
        let my_heart = response['my_heart'];
        if (my_heart['interested'] == 'Y')
        {
          $("#heart").css("color","red");
          $("#heart").attr("onclick","unlike()");
       }
        else
        {
          $("#heart").css("color","grey");
          $("#heart").attr("onclick","like()");
        }
        //alert("showheart!")
    }
    });
  }
  
  function like() {
    $.ajax({
    type: 'POST',
    url: '/like/{{data.productName}}/',
    data: {
      interested : "Y"
    },
    success: function (response) {
      alert(response['msg']);
      window.location.reload()
    }
    });
  }
  
  function unlike() {
    $.ajax({
      type: 'POST',
      url: '/unlike/{{data.productName}}/',
      data: {
        interested : "N"
      },
    success: function (response) {
      alert(response['msg']);
      window.location.reload()
    }
    });
  }
  $(document).ready(function () {
    showHeart();
  });
  </script>
{% endblock %} 

