<!--chaewon-->

{% extends "index.html" %}

{%block styles%}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/detail.css') }}">
{% endblock%}

{%block section%}
<body>
  <div class="container">

  <div class="row">
<!--column side-->
  
    
    <div class="main-image">
      <a target="_blank" href="/static/images/phone0.png">
        <img src="../../static/images/{{data.img_path}}" alt="phone0"> 
      </a> <!--lecture 11에서 추가된 부분 (상품세부화면 연결 경로 생성)-->
    </div>
    <div class="column middle">
    <div class="product-details">

      <h3 class="product-name" name="productName">{{data.productName}}</h3>

      <div class="like-container">
        <button class="like-button" onclick="toggleLike(this)">
          <i class="fa fa-heart" id="heart" ></i> <!--12주차 좋아요 기능 구현-->
          <!--<span class="heart-icon">♥</span>-->
        </button>
          <span class="like-count">(128)</span>
      </div>

      <hr>
      <h4 class="product-seller">카테고리: {{data.category}}</h4>
      <div class="product-description"> {{data.description}}</div>
      <h3 class="product-price">가격 : {{data.price}}</h3>
    </div> #product details 
  <div class="dropdown-label">

    <div class="dropdown">
      <button class="dropbtn"> 
        <span class="dropbtn_icon">색상: Black - 사이즈: S</span>
      </button>
      <div class="dropdown-content">
        <a href="#">색상: Black - 사이즈: M</a>
        <a href="#">색상: White - 사이즈: S</a>
        <a href="#">색상: White - 사이즈: M</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn"> 
        <span class="dropbtn_icon">1개</span>
      </button>
      <div class="dropdown-content">
        <a href="#">2개</a>
        <a href="#">3개</a>
        <a href="#">4개</a>
        <a href="#">5개</a>
      </div>
    </div>

    <button class="buy" data-value="buy">바로 구매</button>
    <button onclick="location.href='/reg_review/{{data.productName}}';">리뷰등록</button> <!--week12-->
  </div><!--dropdown-label-->

  <div class="review">
    <div class="underline">REVIEW</div>
    <div class="star_rating">
      <span class="star on"></span>
      <span class="star on"></span>
      <span class="star on"></span>
      <span class="star on"></span>
      <span class="star"></span>
    </div>
    <div class="star_number">4(5)</div>
  </div>

  <div class="product-description2">
  <h4 class="underline">상세설명</h4>
    <p>상품 이름 : <b>{{data.productName}}</b> / 상품 위치 : {{data.addr}} </p>
    <p>카테고리 : {{data.category}} </p>
    <p>사이즈 : heights 15 / width 10</p>
    <p>소재 : 에폭시 </p>
    <p>제작기간 : 3-10일 소요 (공휴일/주말 제외) </p>
    <p>
    For payment, the credit card is
    {% if data['card'] == "Y" %}
    accepted!

    {% endif %}
    {% if data['card'] == "N" %}
    NOT accepted!
    {% endif %}
    </p>
  </div>

  

  </div><!--column middle-->
  </div><!--row-->
  </div><!--container-->
 
 
</body>

<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="../static/js/detail.js"></script>
{% endblock %} 

