<!--채원-->
{% extends "index.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/reivew_item.css') }}">
{% endblock %}

{%block section %} 

    <div class="container">
        <!--product-->
        <div class="product">
            <img src="../static/images/towel.png" alt="prod_towel" width="400" height="300">
            <div class="description">
                <h3 class="product-name">{{ product_name }}</h3>
                <hr>
                <div class="grade">
                    <span>★★★★★</span>
                    <p>4.9(354)</p>
                </div>
                <button class="buy" data-value="buy">구매하기</button>
            </div> 
        </div>


        <div class="notice">
            {% if total > 0 %}
            <p class="reg-num">
              현재까지 {{total}}개 리뷰 등록됨
            </p>
            <div class="rating-statistics">
                <div class="rating">
                    <span class="stars">★★★★★</span>
                    <div class="bar">
                        <div class="fill" style="width: 90%;"></div> <!-- 별 5개 리뷰 비율 -->
                    </div>
                    <span class="count">(347)</span>
                </div>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <div class="bar">
                        <div class="fill" style="width: 5%;"></div> <!-- 별 4개 리뷰 비율 -->
                    </div>
                    <span class="count">(5)</span>
                </div>
                <div class="rating">
                    <span class="stars">★★★☆☆</span>
                    <div class="bar">
                        <div class="fill" style="width: 0%;"></div> <!-- 별 3개 리뷰 비율 -->
                    </div>
                    <span class="count">(0)</span>
                </div>
                <div class="rating">
                    <span class="stars">★★☆☆☆</span>
                    <div class="bar">
                        <div class="fill" style="width: 2%;"></div> <!-- 별 2개 리뷰 비율 -->
                    </div>
                    <span class="count">(2)</span>
                </div>
                <div class="rating">
                    <span class="stars">★☆☆☆☆</span>
                    <div class="bar">
                        <div class="fill" style="width: 0%;"></div> <!-- 별 1개 리뷰 비율 -->
                    </div>
                    <span class="count">(0)</span>
                </div>
                <div class="rating">
                    <span class="stars">☆☆☆☆☆</span>
                    <div class="bar">
                        <div class="fill" style="width: 2%;"></div> <!-- 별 0개 리뷰 비율 -->
                    </div>
                    <span class="count">(2)</span>
                </div>
            </div><!--rating-statistics-->
        </div><!--notice-->

        <div class="sort">
            <div class="array">
                <button class="pop" data-value="pop">리뷰 많은 순</button>
                <button class="rate" data-value="rate">높은 평점 순</button>
                <button class="recent" data-value="recent">최신순</button>
            </div>
        </div>

        <hr id="page">

        <div class="review">
            <h3>사용자 리뷰</h3> 
            {% if reviews %}
            {% for review in reviews %}
            <div class="content">
                <span class="stars">{{ "★" * review.rate }}{{ "☆" * (5 - review.rate) }}</span>
                <h3>{{ review.title }}</h3>
                <p class="content">{{ review.content }}</p>
            </div>
            {% endfor %}
            {% else %}
            <p>등록된 리뷰가 없습니다.</p>
            {% endif %}
        </div>
    </div>
    {% endblock %}
        
<div class="clearfix"></div>
</body>
</html>
