{% extends "index.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/products.css') }}">
{% endblock %}

{% block section %}
<div class="product_container">
  <aside class="side-bar">
    <ul>
      <li>
          <a href="#">디지털 악세사리</a>
      </li>
      <li>
          <a href="#">패션 악세사리</a>
      </li>
      <li>
          <a href="#">테이블웨어</a>
      </li>
      <li>
        <a href="#">스테이셔너리</a>
    </li>
    </ul>
  </aside>

  <main>
    <section id="head">
      <p class="title">전체 상품 조회</p>
      <div class="array">
          <button class="review" data-value="review">리뷰 많은 순</button>
          <button class="rate" data-value="rate">높은 평점 순</button>
          <button class="recent" data-value="recent">최신순</button>
      </div>
  </section>
  
  {% if total > 0 %}
    <table>
      <tr>
        {% for key, value in row1 %}
        <td onclick="location.href='products/{{ key }}/';" style="cursor:pointer;">
          <img src="{{ url_for('static', filename='images/' + value.img_path) }}" width=140, height=200>
        </td>
        {% endfor %}
      </tr>
      <tr>
          {% for key, value in row1 %}
          <td>상품이름: {{ key }}</td>
          {% endfor %}
      </tr>
      <tr>
        {% for key, value in row1 %}
        <td onclick="location.href='products/{{ key }}/';" style="cursor:pointer;">
          <img src="{{ url_for('static', filename='images/' + value.img_path) }}" width=140, height=200>
        </td>
        {% endfor %}
      </tr>
      <tr>
          {% for key, value in row1 %}
          <td>상품이름: {{ key }}</td>
          {% endfor %}
      </tr>
    </table>
  </main>
  
        <div class="page-wrap">
          <div class="page-nation">
            <ul>
              {% for i in range(page_count) %}
              <li>
              <a href="{{ url_for('view_products', page=i) }}" style="color:black;">{{ i + 1 }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
  
      {% else %}
        <p>등록된 상품이 없습니다.</p>
      {% endif %}
  
  </div>
</main>

{% endblock %}

<script src="{{ url_for('static', filename='js/list.js') }}"></script>
