{% extends "index.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/review_item.css') }}">
{% endblock %}

{% block section %}
<div class="container">
    <!-- 상품 정보 -->
    <div class="product">
        <img src="{{ url_for('static', filename='images/' + productImage) }}" alt="{{ productName }}" width="400" height="300">
        <div class="description">
            <h3 class="product-name">{{ product_name }}</h3>
            <hr>
            <div class="grade">
                <span>★★★★★</span>
                <p>4.9 (354)</p>
            </div>
            <button class="buy" data-value="buy">구매하기</button>
        </div>
    </div>

    <div class="review">
        <h3>사용자 리뷰</h3> 
        {% if reviews %}
        {% for review in reviews %}
        <div class="content">
            <span class="stars">{{ "★" * review.rate|int }}{{ "☆" * (5 - review.rate|int) }}</span>
            <h3>{{ review.title }}</h3>
            <p>{{ review.content }}</p>
            {% if review.reviewImage %}
            <img src="{{ url_for('static', filename='images/' + review.reviewImage) }}" alt="Review Image" width="300">
            {% endif %}
        </div>
        {% endfor %}
        {% else %}
        <p>등록된 리뷰가 없습니다.</p>
        {% endif %}
    </div>    
</div>
{% endblock %}
