{% extends "index.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/wrt_review.css') }}">
{% endblock %}

{%block section%} 
<main>
  <div class="form-container">
    <div class="titleReview">
      <p>리뷰 작성</p>
      <p class="discription">제품에 대한 리뷰를 작성해주세요.</p>
    </div>

    <div class=form-row>
      <label for="productName">상품명</label>
      <input class="inlg" type="text" id="userId" placeholder="상품명을 입력하세요.">
    </div>

    <input type="file" id="image" accept="image/*" onchange="setThumbnail(event);"style="display: none;"/>
    <div id="image_container"></div>

    <div class=form-row2>
      <label for="reviewTitle">제목</label>
      <input class="inpn" type="text" id="productName" placeholder="제목을 입력하세요.">
    </div>

    <!--12주차 내용-->
    <div class=form-row3>
      <label for="star">평점</label>
      <form class="mb-3" name="myform" id="myform" method="post" action="/reg_review" enctype="multipart/form-data">
        상품: <input type="text" name="name" id="name" value="{{name}}"><br><br>
        제목: <input type="text" name="title" id="title" value=""><br><br>
        <fieldset>
          <span class="text-bold">별점을 선택해주세요</span>
          <input type="radio" name="reviewStar" value="5" id="rate1"><label for="rate1">★</label>
          <input type="radio" name="reviewStar" value="4" id="rate2"><label for="rate2">★</label>
          <input type="radio" name="reviewStar" value="3" id="rate3"><label for="rate3">★</label>
          <input type="radio" name="reviewStar" value="2" id="rate4"><label for="rate4">★</label>
          <input type="radio" name="reviewStar" value="1" id="rate5"><label for="rate5">★</label>
        </fieldset>
        <div>
          <textarea class="col-auto form-control" type="text" name="reviewContents" placeholder="리뷰를 남겨주세요 감사합니다!"></textarea>
        </div>
        Review Image upload :
        <input type="file" name="file" /><br><br>
        <input type="submit" value="Submit!">
      </form>
    </div>
    <!--12주차 내용 끝-->

    <div class="form-row5">
      <label for="content">내용</label>
      <textarea class="content-area" id="content" placeholder="최소 20자 이상 작성해주세요." rows="6"></textarea>
    </div>

    <div class=form-row6>
      <p class="pp">이미지   </p>
      <label class="file-label" for="image">choose file</label>
      <input class="file" type="file" id="image">
    </div>

    <div class="button-group">
      <button type="button" class="cancel-button">취소</button>
      <button type="submit" class="submit-button">등록</button>
    </div> 
  </div> 
</main>

<script src="/static/js/wrt_review.js"></script>
{% endblock %}
