{% extends "index.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/new_review_detail.css') }}">
{% endblock %}

{% block section %}
<main>
    <div class="form-container">
        <div class="titleReview">
            <p>리뷰 상세 조회</p>
        </div>

        <div class="title">
            <div>
                <div class="grade">
                    <span>★★★★★</span>
                </div>
                <div class="review-title">{{ review.title}}</div>
                <div class="review-content">{{ review.content}}</div>
            </div>
            <div>
                <div class="review-image">
                    <img src="{{ url_for('static', filename='images/' + review.reviewImage) }}" width="140" height="200" alt="Review Image">
                </div>
                <div class="review-rate">평점: {{ review.rate}}</div>
                <div class="review-product">상품명: {{ review.productName }}</div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

