{% extends "index.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/new_review_detail.css') }}">
{% endblock %}

{% block section %}
<main>
    <div class="form-container">
        <div class="titleReview">
            <p>리뷰 상세 조회</p>
        </div>

        <div class="title">
            <table>
                <tr>
                    {% for review in row1 %}
                    <td>
                        <div>
                            <div class="grade">
                                <span>★★★★★</span>
                            </div>
                            <div class="review-title">{{ review.title }}</div>
                            <div class="review-date">{{ review.date }}</div>
                            <div class="review-content">{{ review.content }}</div>
                        </div>
                        <div>
                            <div class="review-image">
                                <img src="{{ url_for('static', filename='images/' + review.reviewImage) }}" width="140" height="200">
                            </div>
                            <div class="review-rate">평점: {{ review.rate }}</div>
                            <div class="review-product">상품명: {{ review.product }}</div>
                        </div>  
                    </td>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>
</main>
{% endblock %}

<script src="{{ url_for('static', filename='js/new_review_detail.js') }}"></script>
