{% extends "index.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block section %} 
{% with mesg = get_flashed_messages() %}
{% if mesg !=[] %}
    <script>alert("{{ mesg[0] }}")</script>
{% endif %}
{% endwith %}

<main>
    <br>
    <div class="form-container">
        <p class="titleLogin">ⓒ1886 EWHA</p>
        <form action="{{ url_for('auth.login') }}" method="post">
            <div class="input"> <!-- request 받기 위해 name추가 -->
                <input type="text" id="ID" name="userId" placeholder="아이디를 입력하세요">
                <input type="password" id="etrpswd" name="pw" placeholder="비밀번호를 입력하세요"><br>
            </div> <!-- div class="input"부분 불필요한 부분 약간 수정 -->

            <div class="chkblg">
                <input type="checkbox" id="mtain" name="mtain">
                <label class="mtain" for="mtain">로그인 상태 유지</label><br>
            </div>

            <div class="btn">
                <button type="submit" class="blgin">로그인</button><br><br>
                <div class="udr">
                    <a href="{{ url_for('auth.signup') }}">| 회원가입 |</a>
                    <br><br><br> <!--여백 늘리기-->
                </div>
            </div> 
        </form>
    </div>
</main>
<br><br><br>
<br><br><br>
{% endblock section %}